<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bear1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>bear2.png</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>bear3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>147</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>bear4.png</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>147</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>bear5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>293</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>bear6.png</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>293</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>bear7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>439</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>bear8.png</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>439</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>233</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
	</dict>
</dict>
</plist>